---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Trending from '@/components/Trending.astro'
import Playlist from '@/components/Playlist.astro'
---

<Layout title="Music webapp">
  <div class="px-2 xl:px-9">
    <Header />
    <Trending />
    <Playlist />
  </div>
</Layout>
