---
interface Props {
  href?: string
}

const { href } = Astro.props
---

<li>
  <a
    href={href}
    class="flex items-center py-2 font-bold transition duration-300 ease-in-out gap-4 text-zinc-100 cursor-pointer hover:text-zinc-400"
  >
    <slot />
  </a>
</li>
