---
import PlaylistSection from './PlaylistSection.astro'
---

<PlaylistSection title="Genders">
  <ul class="mt-4 grid grid-cols-2 gap-5 text-lg font-semibold">
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#476a8a]">
      <p>Electro</p>
      <span>Pop</span>
    </il>
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#a69984]">
      <p>Dance</p>
      <span>Beet</span>
    </il>
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#a24c34]">
      <p>Clubshouse</p>
      <span>Remix</span>
    </il>
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#0d4045]">
      <p>Hip Hop</p>
      <span>Rap</span>
    </il>
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#a67894]">
      <p>Alternative<span>Indie</span></p>
    </il>
    <il class="py-[22px] px-2.5 flex flex-col items-center justify-center rounded-lg bg-[#5547a5]">
      <p>Classical</p>
      <span>Period</span>
    </il>
  </ul>
</PlaylistSection>
