<section class="py-5 flex items-center justify-center gap-3.5 lg:justify-end lg:py-0">
  <span>Bells</span>
  <span>Config</span>

  <div class="flex items-center rounded-lg">
    <picture class="bg-[#32323d] p-2 rounded-l-lg">
      <img
        src="/current.png"
        alt="profile-photo"
        class="aspect-[1/1] object-cover object-top w-full max-w-9 mx-auto rounded-lg"
      />
    </picture>
    <div class="bg-[#25252d] p-4 rounded-r-lg">
      <h2 class="text-sm font-semibold">Jhon Doe</h2>
    </div>
  </div>
</section>
