---
import '@fontsource-variable/onest'
import AsideMenu from '@/components/AsideMenu.astro'
import Player from '@/components/Player.astro'
import Profile from '@/components/Profile.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A web music app using Spotify API to play songs" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="app" class="relative h-screen">
      <aside
        class="[grid-area:aside] overflow-y-auto bg-[#18181d] h-full absolute -left-full z-[99999] transition-all duration-500 ease-in-out lg:static"
      >
        <AsideMenu />
      </aside>

      <main class="[grid-area:main] w-full min-h-screen py-3 xl:py-5">
        <slot />

        <div class="py-2 pr-6 h-[calc(100vh-75px)]">
          <Profile />

          <Player />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  #app {
    display: grid;
    grid-template-areas: 'main';
  }

  main {
    background: linear-gradient(#050500, #18191d);
  }

  @media (min-width: 768px) {
    main {
      display: grid;
      grid-template-columns: 4fr 3.5fr;
    }
  }

  @media (min-width: 1024px) {
    main {
      display: grid;
      grid-template-columns: 4fr 2fr;
    }

    #app {
      grid-template-areas: 'aside main';
      grid-template-columns: 200px 1fr;
      grid-template-rows: 1fr auto;
    }
  }

  @media (min-width: 1280px) {
    #app {
      grid-template-columns: 300px 1fr;
    }
  }
</style>

<style is:global>
  :root {
    color-scheme: black;
  }

  html {
    font-family: 'Onest Variable', system-ui, sans-serif;
    color: white;
  }

  html,
  body {
    height: 100vh;
  }
</style>
